body {
      font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      line-height: 2em;
      background-color: rgb(248, 214, 214);  
    }
    .main {
      width: 80%;
      margin: 5em auto;
      padding: 2em;
      /* border:1px solid #CCC; */
    }

    h1 {
      margin-top: 0;
      font-size: 4em;
      line-height: 2em;
    }


    a {
      font-weight: initial;
      color: #9090ec;
      text-decoration: none;
    }

    a:hover {
      background-color: #73deec;
    }

    ul {
      padding-left: 15px;
      list-style: inside;
    }

    ul li {
      color: #CCC;
    }
