*{
    margin: 0;
    padding: 0;
}
body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgb(228, 212, 243);
}

.loader{
    position:relative;
    text-align: center;
}

.left-box{
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(0deg);
}

.right-box{
    position: absolute;
    top: -29px;
    right: -9px;
    transform: rotate(90deg);
}

.dots-top{
    position: absolute
    top: -78px;
    left: 196px;
    transform: rotate(0deg);

}

.dots-bottom{
    position: absolute
    top: 40px;
    right: -216px;
    transform: rotate(180deg);
}


.dot{
    position: absolute;
    width: 240px;
    height: 240px;
    border: 1px solid rgba(204, 51, 97, 0.342);
    z-index: 5;
    transform: rotate(45deg);
    animation: spin 20s linear infinite;
}

.dot::after{
    content: "";
    position: absolute;
    width:32px;
    height: 32px;
    background-color: rgb(137, 121, 226);
    border-radius: 70%;
}

.dot:nth-child(2){
    z-index: 4;
    animation-delay: 10s;
}

.dot:nth-child(2)::after{
    background-color: rgb(221, 219, 82);
    transform: scale(0.8);
}

.dot:nth-child(3){
    z-index: 3;
    animation-delay: 1s;
}

.dot:nth-child(3)::after{
    background-color: rgb(120, 222, 230);
    transform: scale(0.6);
}

.dot:nth-child(4){
    z-index: 2;
    animation-delay: 1s;
}

.dot:nth-child(4)::after{
    background-color: rgb(238, 71, 163);
    transform: scale(0.4);
}

.dot:nth-child(5){
    z-index: 1;
    animation-delay: 1s;
}

.dot:nth-child(5)::after{
    background-color: rgb(226, 23, 67);
    transform: scale(0.2);
}


@keyframes spin {
    0%{
        transform: rotate(45deg);
    }
    5%{
        transform: rotate(405deg);
        animation-timing-function: ease-out;
    }
    70%{
        transform: rotate(405deg);
        animation-timing-function: ease-in;
    }
    100%{
        transform: rotate(405deg);
    }
}