
body{
  background-color: #a3e2f2;
}
/*DRAGGABLE */
        #draggable{ 
          width:200px;
          height: 100px;
          padding: 0.5em;
          background-color: #f8b7d9;
          font-style:normal;
          color: #ae65ea;
         }

         #draggable3{ 
          width:150px;
          height: 150px;
          padding: 0.5em;
          background-color: #fdf43e;
          font-style:normal;
          color: #e88a8a;
         }

         #draggable2{ 
          width:150px;
          height: 150px;
          padding: 0.5em;
          background-color: #f2831b;
          font-style:normal;
          color: #fcf7f4;
         }

         #draggable1{ 
          width:150px;
          height: 150px;
          padding: 0.5em;
          background-color: #ea4833;
          font-style:normal;
          color: #f9eeed;
         }

         #draggable5{ 
          width:150px;
          height: 150px;
          padding: 0.5em;
          background-color: #38bae5;
          font-style:normal;
          color: #f8e3f4;
         }

         #draggable6{ 
          width:150px;
          height: 150px;
          padding: 0.5em;
          background-color: #19eded;
          font-style:normal;
          color: #fdfdfd;
         }

         #draggable7{ 
          width:150px;
          height: 150px;
          padding: 0.5em;
          background-color: #6c0b69;
          font-style:normal;
          color: #fcfcfc;
         }

         #draggable4{ 
          width:150px;
          height: 150px;
          padding: 0.5em;
          background-color: #21f65a;
          font-style:normal;
          color: #eeeeee;
        }
      